@model YearCalendarViewModel

@{
    ViewBag.Title = "Jaarkalender";
}

<div id="top"></div>

<table class="table">
    <tr>
        <td>Maand</td><td>Gewassen</td>
    </tr>
        
    @foreach (var month in Model)
    {

        <tr>
            <td>@month.DisplayMonth</td>
            <td>
                @foreach (var fa in month.SowingActions)
                {
                    @fa.CropCount @fa.Crop.Name <br/>
                }
                @foreach (var fa in month.HarvestingActions)
                {
                    @fa.CropCount @fa.Crop.Name <br/>
                }
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Terug naar thuis", "Index",  "Home",  null, null)