@model YearCalendarViewModel

@{
    ViewBag.Title = "Jaarkalender";
}

<div id="top"></div>

<div id="yearCalendar">

<h1>Jaarkalender Oogstplanner</h1>

<table class="table table-striped">

    @foreach (var month in Model)
    {
        if (month.SowingActions.Any() || month.HarvestingActions.Any())
        {
            <tbody>
                <tr>
                    <td colspan="2">
                        <h3>@month.DisplayMonth</h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">

                            @if (month.SowingActions.Any())
                            {
                                <h4><i>Zaaien</i></h4>
                                foreach (var fa in month.SowingActions)
                                {
                                    @fa.Crop.Name <span> (aantal: </span> @fa.CropCount<span>)</span><br/>
                                }
                            }
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">

                            @if (month.HarvestingActions.Any())
                            {
                                <h4><i>Oogsten</i></h4>
                                foreach (var fa in month.HarvestingActions)
                                {
                                    @fa.Crop.Name <span> (aantal: </span> @fa.CropCount<span>)</span><br/>
                                }
                            }
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        }
    }
</table>

</div> <!-- End yearcalendar -->

@Html.ActionLink("Ga naar Zaaien en oogsten", "Index",  "Home",  null, null)