@{
    ViewBag.Title = "Welkom";
}

@* START RESPONSIVE RECTANGLE LAYOUT *@

@* Top bar *@
<div id="top"></div>
   
@* Fixed main screen *@
<div id="login" class="bg imglogin">

    <div class="row" id="main-row">
        <div class="col-lg-6 col-xs-12">
            <div class="jumbotron-box">
                <div class="jumbotron">
                    <h1>Welkom op de Oogstplanner</h1>
                    <p>
                        Een dynamisch gereedschap voor een ieder met vruchtbare grond.<br/>
                        <span class="hidden-xs hidden-md">
                            <br/>Oogstplanner helpt u bepalen wanneer te zaaien en te oogsten. 
                            Of het nu gaat om een moestuin of een bloempot.
                        </span>
                    </p>
                </div>

                <div class="panel panel-default dark visible-xs">
                    <h4>@Html.ActionLink("Oogst of zaai een gewas", "SowingAndHarvesting", "Calendar", null, null)</h4>
                </div>
                <div class="panel panel-default dark visible-xs">
                    <h4>@Html.ActionLink("Bekijk uw zaaikalender", "Year",  "Calendar",  null, null)</h4>
                </div>
                <div class="panel panel-default dark visible-xs">
                    <h4>@Html.ActionLink("Gemeenschap", "Index",  "Community",  null, null)</h4>
                    <!--@Html.ActionLink("Veelgestelde vragen lijst (FAQ)", "TODO",  "TODO",  null, null)<br/> -->
                </div>

            </div>
        </div> @* End first column *@

        <div class="col-lg-6 hidden-xs">
            <br/>
            <br/>
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-6">
                    <img src="/Content/Images/planten.jpg" alt="oogsten of zaaien" /><br/>            
                    @Html.ActionLink("Oogst of zaai een gewas", "SowingAndHarvesting", "Calendar", null, new { @class = "btn-lg btn-primary no-underline" } )<br/><br/>
                </div>
                <div class="col-lg-12 col-md-6 col-sm-6">
                    <img src="/Content/Images/bonen.jpg" alt="zaaikalender" /><br/>

                    @* 50% change of displaying one link or the other. (Only one link fits the page.) *@
                    @if (new Random().Next(2) == 1)
                    {
                        @Html.ActionLink("Bekijk uw zaaikalender", "Year",  "Calendar", null, new { @class = "btn-lg btn-primary no-underline" } )<br/><br/>
                    }
                    else
                    {
                        @Html.ActionLink("Gemeenschap", "Index",  "Community", null, new { @class = "btn-lg btn-primary no-underline" } )<br/><br/>
                    }
                </div>
            </div>
        </div> @* End second column *@

    </div>@* End row *@
</div>@* End main login div *@

@* END RESPONSIVE RECTANGLES LAYOUT *@
