@model SowingAndHarvestingViewModel

@Styles.Render("~/Content/Stylesheets/oogstplanner.sowing-and-harvesting")

@Scripts.Render("~/Scripts/fullPage")
@Scripts.Render("~/Scripts/oogstplanner.sowing-and-harvesting")

<div id="main">
    <div class="slide">
@{ 
    ViewBag.Title = "Zaaien en oogsten";

    @* START RESPONSIVE GRID LAYOUT *@

    <div id="top"></div>
    <h1 class="sr-only">Zaaikalender zaaien en oogsten</h1>
    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 well text-left" id="crop-selection-box">
            @{ Html.RenderPartial("_CropSearch"); }
        </div>@* End left column *@

        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" id="month-overview-responsive-square-elements">

        @* Row of rectangles for the seasons *@
        @foreach (var season in Model.SeasonsForDisplay)
        {
            <div class="rectangle">
                <div class="rectangle-content">
                    <div class="table">
                        <div class="table-cell bold resizable-header2">
                            @season.ToUpper()
                        </div>
                    </div>
                </div>
            </div>
        }     
     
        @* Four rows which each consist of an autumn, winter, spring and summer image. *@
        @for (var imageIndex = 1; imageIndex <= 3; imageIndex++)
        {
            foreach (var season in Model.SeasonsCssClasses)
            {
                var vm = Model.OrderedMonthViewModels.Pop();
                var month = vm.MonthForDataAttribute;
                var displayMonth = vm.MonthForDisplay;
                var hasAction = vm.HasAction.ToString().ToLower();

                /* To the outer square div the following CSS classes are added in the string.Format method:
                 *    1.) A class for the image so a fitting image can be displayed. 
                 *    2.) An attribute for the month, so we can identify which month is clicked on.
                 *    3.) An attribute for if the class has any actions associated */
                <div class="square bg hover-highlight @string.Format("img{0}{1}", season, imageIndex)" 
                     data-month="@month" 
                     data-has-action="@hasAction">
                   <div class="content">
                        <div class="table">
                            <div class="table-cell">
                                <h3 class="resizable-header3">@displayMonth</h3>
                            </div> 
                        </div>
                    </div>
                </div>

            }
        }

        @* END OF RESPONSIVE GRID LAY-OUT *@

        </div>@* End right column *@

    </div>@* End row *@

    <input type="hidden" 
           id="month-names" 
           value="@string.Join(",", Model.MonthNames)"/>

    <input type="hidden" 
           id="display-month-names" 
           value="@string.Join(",", Model.DisplayMonthNames)"/>
}
    </div>@* End of main slide *@
    
    @* Slide for editing and viewing a specific month
         Partial view data with farming actions is loaded here. *@
    <div class="slide" id="_MonthCalendar"></div>
         
</div>@* End of fullPage.js main page *@
