@model LoginOrRegisterViewModel

@using (Ajax.BeginForm("Login", "Account", new { @class="form-signin", @role="form"}, 
    new AjaxOptions 
    { 
        OnBegin = "Scripts.resetValidation()",
        OnSuccess = "Scripts.refreshPage()", 
        OnFailure = "Scripts.handleError(xhr.responseJSON)" 
    }))
{

    <div class="form-group">
        <div class="validation-summary-errors">
            <ul></ul>
        </div>
    </div>

    <h2 class="form-signin-heading dark">Meld u alstublieft aan</h2>

    @Html.LabelFor(vm => vm.Login.UserName, new { @class="sr-only" })
    @Html.TextBoxFor(vm => vm.Login.UserName, 
        new { @class = "form-control", @placeholder = "Gebruikersnaam of e-mailadres" })

    @Html.LabelFor(vm => vm.Login.Password, new { @class="sr-only" })
    @Html.PasswordFor(vm => vm.Login.Password, 
        new { @class = "form-control", @placeholder = "Wachtwoord" })

    <div class="checkbox dark">
        <label class="pull-left">
            @Html.CheckBoxFor(vm => vm.Login.RememberMe)
            Onthoud mij.
        </label>

        <a href="#" id="lost-password-link" class="pull-right">Wachtwoord vergeten?</a>
        <br/>

    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Inloggen</button>

    if(ViewData.ModelState.ContainsKey("registration"))
    { 
        @ViewData.ModelState["registration"].Errors.First().ErrorMessage; 
    }
       
}    