@model LoginOrRegisterViewModel

@using (Html.BeginForm("Register", "Account", 
    new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class="form-signin", @role="form"}))
{

    <div class="form-group">
        @Html.ValidationSummary()  
    </div>

    <h2 class="form-signin-heading dark">Registreer u vandaag bij de Oogstplanner</h2>

    @Html.LabelFor(vm => vm.Register.FullName, new { @class="sr-only" })
    @Html.TextBoxFor(vm => vm.Register.FullName, 
        new { @class = "form-control", @placeholder = "Volledige naam" })

    @Html.LabelFor(vm => vm.Register.UserName, new { @class="sr-only" })
    @Html.TextBoxFor(vm => vm.Register.UserName, 
        new { @class = "form-control", @placeholder = "Gebruikersnaam" })

    @Html.LabelFor(vm => vm.Register.Email, new { @class="sr-only" })
    @Html.TextBoxFor(vm => vm.Register.Email, 
        new { @class = "form-control", @type="email", @placeholder = "E-mailadres" })

    @Html.LabelFor(vm => vm.Register.Password, new { @class="sr-only" })
    @Html.PasswordFor(vm => vm.Register.Password, 
        new { @class = "form-control", @placeholder = "Wachtwoord" })
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Registreren</button>        
        
}