@model RegisterModel

@using (Ajax.BeginForm("Register", "Account", new { @class="form-signin", @role="form"}, 
    new AjaxOptions 
    { 
        OnBegin = "Util.resetValidation()",
        OnSuccess = "Util.refreshPage()", 
        OnFailure = "Util.handleError(xhr.responseJSON)" 
    }))
{

    <div class="form-group">
        <div class="validation-summary-errors">
            <ul></ul>
        </div>
    </div>

    <h2 class="form-signin-heading dark">Registreer u vandaag bij de Oogstplanner</h2>

    @Html.LabelFor(m => m.FullName, new { @class="sr-only" })
    @Html.TextBoxFor(m => m.FullName, 
        new { @class = "form-control", @placeholder = "Volledige naam" })

    @Html.LabelFor(m => m.UserName, new { @class="sr-only" })
    @Html.TextBoxFor(m => m.UserName, 
        new { @class = "form-control", @placeholder = "Gebruikersnaam" })

    @Html.LabelFor(m => m.Email, new { @class="sr-only" })
    @Html.TextBoxFor(m => m.Email, 
        new { @class = "form-control", @type="email", @placeholder = "E-mailadres" })

    @Html.LabelFor(m => m.Password, new { @class="sr-only" })
    @Html.PasswordFor(m => m.Password, 
        new { @class = "form-control", @placeholder = "Wachtwoord" })
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Registreren</button>        
        
}
