@model ResetPasswordModel

@using (Html.BeginForm("ResetPassword", "Account", null, FormMethod.Post, 
    new { @class = "form-signin", @role = "form"}))
{

   <div class="form-group">
        @Html.ValidationSummary()  
    </div>

    <h2 class="form-signin-heading dark">Reset uw wachtwoord</h2>

    @Html.LabelFor(m => m.Password, new { @class="sr-only" })
    @Html.PasswordFor(m => m.Password, 
        new { @class = "form-control", @placeholder = "Nieuw wachtwoord", @AutoComplete ="off" } )

    @Html.LabelFor(m => m.Password, new { @class="sr-only" })
    @Html.PasswordFor(m => m.ConfirmPassword, 
        new { @class = "form-control", @placeholder = "Bevestig nieuwe wachtwoord", @AutoComplete ="off" } )
    
    @Html.HiddenFor(m => m.ReturnToken)
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Reset wachtwoord</button>

    <h2 class="form-text">@ViewBag.Message</h2>

}
