@model LocalPasswordModel
@{
    ViewBag.Title = "Mijn account";
}

<!-- Script and style to show and hide a div -->
<script src="~/Scripts/jquery-1.9.1.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready
        $('#bar').click(function () {
            $('#foo').slideToggle('slow');
        });
    });
</script>

<!-- Geen lelijke streep onder de balans als je hovert -->
<style>
    a:hover
    {
        text-decoration: none;
    }
</style>

<fieldset>
    <legend>@ViewBag.Title</legend>

    <div class="container">
        <div class="floatLeft">

            <p>U bent ingelogd als <strong>@{Html.RenderAction("_UserInfo", "Account");}</strong>.</p>

            @Html.ActionLink("Overzicht transacties", "Index", "Transaction", new { area = "My" }, null)<br />
            @Html.ActionLink("Overzicht bestellingen", "Index", "Order", new { area = "My" }, null)


            <br />

            @if (ViewBag.HasLocalPassword)
            {
                @Html.Partial("_ChangePasswordPartial")
            }
            else
            { 
                @Html.Partial("_SetPasswordPartial")
            }

            @*<section id="externalLogins">
            @Html.Action("RemoveExternalLogins")

            <h3>Voeg een Google account toe aan uw profiel: </h3>
            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>*@

            @section Scripts{
                <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
            }
            <br />
            <p class="message-success">@ViewBag.StatusMessage</p>

        </div>

        <div class="floatRight">
            <br />
            <h3>
                @Html.Raw(@Html.ActionLink("Overzicht", "Index", "Transaction", new { Area = "My" }, null).ToHtmlString().
                    Replace("Overzicht", "<span style=\"text-decoration: underline;\">Balans:</span>"))

                @* Display balance in red or green and make turn it into a link to the overview page *@

                @{string balance = "n.v.t.";}


                @if (ViewBag.Balance < 0)
                {
                    balance = "<span style=\"color: red;\">" + @ViewBag.Balance + "</span>";
                }

                else if (ViewBag.Balance >= 0)
                {
                    balance = "<span style=\"color: green;\">" + @ViewBag.Balance + "</span>";
                }

                @Html.Raw(@Html.ActionLink("Overzicht", "Index", "Transaction", new { Area = "My" }, null).ToHtmlString().
                    Replace("Overzicht", balance))

            </h3>
        </div>
       
    </div>
    <!-- container -->
</fieldset>
