@model IEnumerable<Crop>

@{
    ViewBag.Title = "Gewassen";
}
<div id="top"></div>

<div id="yearCalendar">
<h1>Dit zijn de gewassen in onze database:</h1>

<table class="table table-striped">
    <tr>
        <th>Naam</th><th>Ras</th><th>Categorie</th><th>Opp. per 1</th>
        <th>Opp. per zak</th><th>Prijs per zakje</th><th>Zaaimaanden</th><th>Oogstmaanden</th>
    </tr>
    <tbody>
        @foreach (var crop in Model) {
        <tr>
            <td>@crop.Name</td><td>@crop.Race</td><td>@crop.Category</td><td>@crop.AreaPerCrop</td>
            <td>@crop.AreaPerBag</td><td>@crop.PricePerBag</td>

            @* Get the descriptions of the months except the first one (assuming enum value is NotSet) *@
            <td>@string.Join(", ", crop.SowingMonths.GetDescriptions().Skip(1).ToArray())</td>
            <td>@string.Join(", ", crop.HarvestingMonths.GetDescriptions().Skip(1).ToArray())</td>
        </tr>
    	}
    </tbody>	
</table>
    
</div>

@Html.ActionLink("Naar Zaaien en oogsten", "SowingAndHarvesting", "Calendar", null, null)
