@model LocalPasswordModel

<!-- Hide div initially-->
<style type="text/css">
    #foo
    {
        display: none;
    }
</style>

<a href="#" id="bar">Wachtwoord wijzigen</a>

<div id="foo">
    <br />
    @using (Html.BeginForm("Manage", "Account"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset>
            <legend>Wachtwoord wijzigen:</legend>
            <ol>
                <li>
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Oud wachtwoord" })
                </li>
                <li>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Nieuw wachtwoord", @style = "margin-top: 5px;" })
                </li>
                <li>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Bevestig nieuw wachtwoord", @style = "margin-top: 5px;" })
                </li>
            </ol>

            <button class="btn btn-sogyo" type="submit" name="provider">Bevestigen</button>
        </fieldset>
    }
</div>
