@model ICollection<ExternalLogin>

@if (Model.Count > 0)
{
    <h3>Geregistreerde externe logins:</h3>
    <table>
        <tbody>
        @foreach (ExternalLogin externalLogin in Model)
        {
            <tr>
                <td>@externalLogin.ProviderDisplayName</td>
                <td>
                    @if (ViewBag.ShowRemoveButton)
                    {
                        using (Html.BeginForm("Disassociate", "Account"))
                        {
                            @Html.AntiForgeryToken()
                            <div>
                                @Html.Hidden("provider", externalLogin.Provider)
                                @Html.Hidden("providerUserId", externalLogin.ProviderUserId)
                                <button class="btn btn-lg btn-primary btn-block btn-success btn-sogyo" type="submit" title="Verwijder uw @externalLogin.ProviderDisplayName credentialen van uw profiel">Verwijder</button>
                            </div>
                        }
                    }
                    else
                    {
                        @: &nbsp;
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
