@model LoginModel

@{
    ViewBag.Title = "Inloggen";
}

<div class="flowtype-area">

<!-- START RESPONSIVE RECTANGLE LAYOUT -->

<!-- Top bar -->
<div id="top">
    <h1>Zaaikalender</h1>
</div>

<!-- Fixed main screen -->
<div id="login-screen" class="bg imgloginscreen">
    <div class="content rs">

    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <ol>
            <li>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Gebruikersnaam" })
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Wachtwoord" })
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
               <div>
                    <div>
                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkbox" })
                    </div>
                   <div>
                    @Html.LabelFor(m => m.RememberMe)
                   </div>
             </div>
            </li>
        </ol>   
        <button type="submit">Inloggen </button>

        @Html.ActionLink("Registreren", "Register")
    }

    </div>
</div>

<!-- END RESPONSIVE RECTANGLES LAYOUT -->

</div><!-- End flowtype-area -->