@model LoginOrRegisterViewModel

@{
    ViewBag.Title = "Inloggen";
}

<div class="flowtype-area">

<!-- START RESPONSIVE RECTANGLE LAYOUT -->

<!-- Top bar -->
<div id="top">
    <h1>Zaaikalender</h1>
</div>

<!-- Fixed main screen -->
<div id="login" class="bg imglogin">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 pull-left">
            <div style="padding: 3.5%; padding-top: 30px">
                <div class="jumbotron">
                    <h2>Welkom bij de Zaaikalender.</h2>
                    <p>Blablabla...</p>
                </div>
            </div>
        </div>
        <!-- Login box inspired by http://bootsnipp.com/snippets/featured/login-amp-signup-forms-in-panel -->
        <div id="loginbox" style="font-size: 12px; padding: 3.5%;" class="mainbox col-md-6 col-sm-6 col-xs-6">                    
           
            <div class="panel panel-info">

                <div class="panel-heading">
                    <div class="panel-title">Inloggen</div>
                    <div style="float: right; font-size: 80%; position: relative; top:-10px"><a href="#">Wachtwoord vergeten?</a></div>
                </div>     

                <div style="padding-top: 30px" class="panel-body" >

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class="form-horizontal", @role="form"}))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>                                   
                            <span>
                                @Html.TextBoxFor(vm => vm.Login.UserName, new { @class = "form-control", @placeholder = "Gebruikersnaam of e-mailadres" })
                                @Html.ValidationMessageFor(vm => vm.Login.UserName)
                            </span>
                        </div>
                
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @Html.PasswordFor(vm => vm.Login.Password, new { @class = "form-control", @placeholder = "Wachtwoord" })
                            @Html.ValidationMessageFor(vm => vm.Login.Password)
                        </div>
                       
                        <div class="input-group">
                            <div class="checkbox">
                                <label style="color: black;">
                                    @Html.CheckBoxFor(vm => vm.Login.RememberMe, new { @class = "checkbox", @value = "1" })
                                    Onthoud mij.
                                </label>
                            </div>
                        </div>

                        <div style="margin-top: 10px" class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls">
                                <button type="submit" class="btn btn-success">Login  </button>
                                <a id="btn-fblogin" href="#" class="btn btn-primary">Login met Facebook</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 control">
                                <div style="border-top: 1px solid#888; padding-top: 15px; font-size: 85%; color: black;" >
                                    Ik heb nog geen account! 
                                    <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                        Registreren.
                                    </a>
                                </div>
                            </div>
                        </div>  
                    }

                </div><!-- End panel body -->
            </div><!-- End panel -->
        </div><!-- End login box column-->

        <div id="signupbox" style="padding: 3.5%; display:none; font-size: 12px;" class="mainbox col-md-6 col-sm-6 col-xs-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Registreer je vandaag bij de Zaaikalender</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px">
                        <a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Inloggen</a>
                    </div>
                </div>  
                <div class="panel-body" style="padding-top: 30px;">

                    @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class="form-horizontal", @role="form"}))
                    {
                        @Html.AntiForgeryToken() 
                        @Html.ValidationSummary()  

                        <div class="form-group">
                            <div class="col-md-3" style="color: black;">
                                @Html.LabelFor(vm => vm.Register.FullName)
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(vm => vm.Register.FullName, new { @class = "form-control", @placeholder = "Volledige naam", @AutoComplete ="off" } )
                            </div>
                        </div>
                            
                        <div class="form-group">
                            <div class="col-md-3" style="color: black;">
                                @Html.LabelFor(vm => vm.Register.UserName)
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(vm => vm.Register.UserName, new { @class = "form-control", @placeholder = "Gebruikersnaam", @Autocomplete = "off" } )
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3" style="color: black;">
                                @Html.LabelFor(vm => vm.Register.Email)
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(vm => vm.Register.Email, new { @class = "form-control", @placeholder = "E-mail ", @AutoComplete ="off"})
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3" style="color: black;">
                                @Html.LabelFor(vm => vm.Register.Password)
                            </div>
                            <div class="col-md-9">
                                @Html.PasswordFor(vm => vm.Register.Password, new { @class = "form-control", @placeholder = "Wachtwoord", @AutoComplete ="off"})
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- Button -->                                        
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Registreer</button>
                            </div>
                        </div>
                            
                    }

                 </div><!-- End panel body -->
            </div><!-- End panel -->
        </div><!-- End signup box -->

    </div><!-- End row -->
</div><!-- End main login div -->

<!-- END RESPONSIVE RECTANGLES LAYOUT -->

</div><!-- End flowtype-area -->