@model FarmingMonthViewModel

<div id="top"></div>

<!-- Top bar -->
<div class="top-bar-tiny">
    <div class="rectangle-content-tiny">
        <div class="table">
            <div class="table-cell bold">
                <div>@Model.DisplayMonth</div>
            </div>
        </div>
    </div>
</div>

<!--- Sowing and harvesting -->
<div class="rectangle-double">
    <div class="rectangle-content">
        <div class="table">
            <div class="table-cell bold">
                ZAAIEN
            </div>
        </div>
    </div>
</div>
<div class="rectangle-double">
    <div class="rectangle-content">
        <div class="table">
            <div class="table-cell bold">
                OOGSTEN
            </div>
        </div>
    </div>
</div>

@using (Ajax.BeginForm("Update", new AjaxOptions { OnSuccess = "zk.toMain", OnFailure = "TODO" }))
{
    <!-- Main rectangles -->
    <div class="rectangle-vertical rectangle-sowing">
        <div class="rectangle-content bg-no-opacity imgsowing">
            <div class="table">
                <div class="table-cell-top">
                    <div class="farmingMonth" id="sowing">
                        @foreach (var action in Model.SowingActions)
                        {
                            @Html.HiddenFor(model => action.Id)
                            @Html.EditorFor(model => action.CropCount) <span>stuks</span>
                            @action.Crop.Name <span> </span>
                            @action.Crop.Race
                            <br/>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rectangle-vertical rectangle-harvesting">
        <div class="rectangle-content bg-no-opacity imgharvesting">
            <div class="table">
                <div class="table-cell-top">
                    <div class="farmingMonth" id="harvesting">
                        @foreach (var action in Model.HarvestingActions)
                        {
                            @Html.HiddenFor(model => action.Id)
                            @Html.EditorFor(model => action.CropCount) <span>stuks</span>
                            <span>@action.Crop.Name </span>
                            <span>@action.Crop.Race</span>
                            <br/>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="top-bar">
        <div class="rectangle-content">
            <div class="table">
                <div class="table-cell header">
                    
                    <!--Temporary go back function -->
                    <input type="button" value="Terug!" onclick="zk.toMain()" />

                    <input type="submit" value="Bevestigen!" /><br/>

                    @Html.ActionLink("Naar de gewassen!", "Index", "Crop", null, null)
                </div>
            </div>
        </div>
    </div>
} @* End form *@