@model MainViewModel

<div id="main">
    <div class="slide flowtype-area">
@{ 
    ViewBag.Title = "Home";
  
    // START RESPONSIVE GRID LAYOUT

    <div id="top">
        <div class="row">
            <div class="col-md-10">
                <h1>Oogstplanner</h1>
            </div>
            <div class="col-md-2">
                <a href="/Account/Logoff" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Uitloggen</a>
            </div>
        </div>
    </div>

    // Row of rectangles for the seasons
    foreach (var seizoen in Model.SeizoenenForDisplay)
    {
        <div class="rectangle">
            <div class="rectangle-content">
                <div class="table">
                    <div class="table-cell bold">
                        @seizoen.ToUpper()
                    </div>
                </div>
            </div>
        </div>
    }
 
    // Four rows which each consist of an autumn, winter, spring and summer image.
    for (var imageIndex = 1; imageIndex <= 3; imageIndex++)
    {
        foreach (var season in Model.SeasonsCssClasses)
        {
            var month = Model.MonthsOrdered.Pop();

            // To the outer square div the string.Format methods adds:
            // 1.) A CSS class for the image so a fitting image can be displayed. 
            // 2.) A CSS class for the month, so we can identify which month is clicked on.
            <div class="square bg @string.Format("img{0}{1}", season, imageIndex)" data-month="@month">
               <div class="content">
                    <div class="table">
                        <div class="table-cell">
                            @month.ToUpper()
                        </div> 
                    </div>
                </div>
            </div>

        }
    }

    // END OF RESPONSIVE GRID LAY-OUT

    <footer class="footer">
    	Powered by ASP.NET MVC @ViewData["Version"] on @Html.Raw(@ViewData["Runtime"])!
    </footer>
}
    </div><!-- End of main slide -->

    <!-- Slide for editing and viewing a specific month
         Partial view data with farming actions is loaded here. -->
    <div class="slide flowtype-area" id="_FarmingMonth"></div>

</div><!-- End of fullPage.js main page -->