@{ 
    ViewBag.Title = "Home";

    // Seasons used for the CSS classes which refer to the different images.
    var seasons = new[] { "autumn", "winter", "spring", "summer" };

    // Seasons in Dutch (singular: "seizoen"; plural: "seizoenen") used for displayal in top row.
    var seizoenen = new[] { "herfst", "winter", "lente", "zomer" };

    // Months in Dutch (singular: "maand"; plural: "maanden") are usd for the CSS classes 
    // to add to the squares and for displayal within the square.
    // Notes: * A normal queue does not work because of Razor threading issues so a ConcurrentQueue is used.
    //        * Getting months from System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.MonthGenitiveNames
    //          and reshuffling them in the correct format is left as an exercise.
    var months = new ConcurrentQueue<string>(new[] {    "september",  "december",     "maart",    "juni", 
                                                        "oktober",    "januari",      "april",    "juli", 
                                                        "november",   "februari",     "mei",      "augustus"});
    
    // Item necessary as out parameter of TryDequeue(out string result) method of ConcurrentQueues
    string month;


    // START RESPONSIVE GRID LAYOUT

    // Top bar
    <div id="bar">
        <div class="rectangle-content">
            <div class="table">
                <div class="table-cell header">
                    <h1>Zaaikalender</h1>
                </div>
            </div>
        </div>
    </div>

    // Row of rectangles for the seasons
    foreach (var seizoen in seizoenen)
    {
        <div class="rectangle">
            <div class="rectangle-content">
                <div class="table">
                    <div class="table-cell seasons">
                        @seizoen.ToUpper()
                    </div>
                </div>
            </div>
        </div>
    }

    // Four rows which each consist of an autumn, winter, spring and summer image.
    for (var imageIndex = 1; imageIndex <= 3; imageIndex++)
    {
        foreach (var season in seasons)
        {
            if (months.TryDequeue(out month)) 
            {
                // To the outer square div the string.Format methods adds:
                // 1.) A CSS class for the image so a fitting image can be displayed. 
                // 2.) A CSS class for the month, so we can identify which month is clicked on.
                <div class="square bg @string.Format("img{0}{1} {2}", season, imageIndex, month)">
                   <div class="content">
                        <div class="table">
                            <div class="table-cell months">
                                @month.ToUpper()
                            </div> 
                        </div>
                    </div>
                </div>
            }
        }
    }

    // END OF RESPONSIVE GRID LAY-OUT

    <footer class="footer">
    	Powered by ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!
    </footer>
}