@{ 
    ViewBag.Title = "Home";

    // Seasons in Dutch (singular: "seizoen"; plural: "seizoenen") used for displayal in top row.
    var seizoenen = new[] { "herfst", "winter", "lente", "zomer" };

    // Seasons used for the CSS classes which refer to the different images.
    var seasons = new[] { "autumn", "winter", "spring", "summer" };

    // Months are for display in the boxes. 
    // Note: A normal queue does not work because of Razor threading issues so a ConcurrentQueue is used.
    var months = new ConcurrentQueue<string>(new[] {    "september",  "december",     "maart",    "juni", 
                                                        "oktober",    "januari",      "april",    "juli", 
                                                        "november",   "februari",     "mei",      "augustus"});
    
    // Item for display (necessary for TryDequeue method)
    string month;


    // START RESPONSIVE GRID LAYOUT

    // Top bar
    <div id="bar">
        <div class="rectangle-content">
            <div class="table">
                <div class="table-cell header">
                    <h1>Zaaikalender</h1>
                </div>
            </div>
        </div>
    </div>

    // Row of rectangles for the seasons
    foreach (var seizoen in seizoenen)
    {
        <div class="rectangle">
            <div class="rectangle-content">
                <div class="table">
                    <div class="table-cell seasons">
                        @seizoen.ToUpper()
                    </div>
                </div>
            </div>
        </div>
    }

    // Four rows which each consist of an autumn, winter, spring and summer image.
    for (var imageIndex = 1; imageIndex <= 3; imageIndex++)
    {
        foreach (var season in seasons)
        {
            <div class="@string.Format("square bg img{0}{1}", season, imageIndex)">
               <div class="content">
                    <div class="table">
                        <div class="table-cell months">
                        @if (months.TryDequeue(out month)) 
                        {
                            @month.ToUpper()
                        }
                        </div> 
                    </div>
                </div>
            </div>
        }
    }

    // END OF RESPONSIVE GRID LAY-OUT

    <footer class="footer">
    	Powered by ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!
    </footer>
}